body{
  margin: 0;
}

header{
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  z-index: 1;
  background-color: white;
}

.logo{
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
  color: MediumAquamarine;
}

.logo img{
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

header nav{
  padding-right: 40px;
}

nav span{
  display: inline-block;
  padding: 20px 10px;
}

a{
  color: black;
}

div{
  border: 1px solid black;
}

.content{
  display: flex;
  width: 1232px;
  padding-top: 116px;
  margin: 0 auto 78px auto;
}

.column{
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.column.large{
  width: 630px;

}

.column.medium{
  width: 300px;
}

.column.small{
  width: 240px;
}

.img-content{
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  height: 300px;
  color: white;
  text-align: center;
}

.lead-story .img-content{
  background-image: url('../MainStory.png');
  width: 630px;
  margin-top: 0;
  font-size: 40px;
  text-align: left;
}

.backwards.img-content{
  background-image: url('../fall.png');
}

.camera.img-content{
  background-image: url('../hipster.png');
}

.cat.img-content{
  background-image: url('../cat.png');
}

p.narrative{
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
